<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpg" %>
  </div>

  <div id="content">
    <h1>Hey, I'm Andrew Younge</h1>
    <p>Welcome to to my Let's Blog website.</p>
    <p>This week I built a blog in Rails 4. You're actually on the demo application right now. Cool stuff, right!</p>
    <p>If you'd like to follow along as I learn more Ruby on Rails, find me on Twitter <a href="http://twitter.com/drewbilius">@drewbilius</a> or on the web at <a href="http://www.guardian.com">andrew.younge</a>, and get my posts and exclusive content in your inbox by signing up for my newsletter <a href="http://eepurl.com/02olT">here</a>.</p>
  </div>
</div>
